<html>
  <head>
    <title>Blog de Carlos</title>
  </head>
  <body>
	<div>
	   <h1><a href="/">Blog de Carlos Villamar</a></h1>
	</div>

	<div>
	   <p>Publicado el 7 de Mayo de 2021 10:05 pm</p>
	   <h2><a href="">Mi Primer Post en HTML</a></h2>
	   <p>Por que Aprender Python, para que sirve, quienes lo usan</p>
	</div>

	<div>
	    <p>Publicado el 8 de Mayo de 2021 7:40 am</p>
	    <h2><a href="">Mi Segundo Post en HTML</a></h2>
	    <p>Django framework web, la Herramienta web hecha en Python</p>
	</div>
   </body>
</html>